.container{
  width:100%;
  height:13vh;
  background-color: #fff;
  display: flex;
  padding: 10px;
}
 .Button2:hover{
  border-bottom:none;
 }
  .container img {
    margin: 10px auto;
    width: 170px;
  }
  
  .nav_links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 10px auto;
    padding: 0;
  }
  
  .nav_links li {
    margin-right: 30px;
    margin-left: 10px;
  }
  
  .nav_links li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  .nav_links li a:hover {
    color: rgb(139, 109, 238);
    border-bottom: 1px solid rgb(139, 109, 238);
  }
  
  .nav_links li a:active {
    color: rgb(139, 109, 238);
  }
  
  .sub_menu1 {
    display: none;
  }
  
  .sub_menu1 ul {
    width: 150px;
    text-align: left;
    display: block;
  }
  
  .sub_menu1 ul li {
    margin-bottom: 20px;
    font-size:15px;
    font-weight: bolde;
  }
  .sub_menu1 ul li:hover {
    background-color: gainsboro;
    background-size: 150px;
  }
  
 
  
  .nav_links li:hover .sub_menu1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: white;
    padding: 10px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
  }

  @media(min-width:950px){
 .container2{
    display: none;
 }
}
  
  @media (max-width: 951px) {
    .container {
        width: 100%;
        height: 20vh;
        background: #fff;
        text-align: left;
        display: flex;
      }
      .container img {
        margin: 30px 0 0 100px;
        width: 170px;
      }
      .nav_links{
        display:none;
      }
      .container2 ul{
        list-style: none;
        font-size: 13px;
        display: flex;
        align-items: center;
        margin: 15px 0 0 -180px;
        padding: 0px;
      }
      .container2 ul li{
        margin:0 0 0 15px;
      }
      .btn{
      margin:20px 0 0 20vw;
      }
      .container2 img{
        margin:0px 2px -8px 10px;
        width:30px;
      }
}
@media(max-width:710px){
  .btn{
    margin:20px 0 0 25vw;
    }
    .container2 img{
      margin:0px 2px -8px 10px;
      width:30px;
    }
}
@media(max-width:599px){
  .container img {
    margin: 30px 0 0 30px;
    width: 170px;
  }
  .container2 ul{
    list-style: none;
    font-size: 9px;
    display: flex;
    align-items: center;
    margin: 15px 0 0 -180px;
    padding: 0px;
  }
  .btn{
    margin:20px 0 0 15vw;
    
    }
    .container2 img{
      margin:0px 2px -8px 10px;
      width:30px;
    }
}
@media(max-width:469){
  .container img {
    margin: 30px 0 0 30px;
    width: 120px;
  }
  .container2 ul{
    list-style: none;
    font-size: 9px;
    display: flex;
    align-items: center;
    margin: 15px 0 0 -180px;
    padding: 0px;
  }
  .btn{
    margin:20px 0 0 10vw;
    width:50px;
    }
 
    .container2 img{
      margin:0px 2px -8px 10px;
      width:30px;
    }
}
@media(max-width:470px){
  .btn{
    margin:20px 0 0 3vw;
    width:50px;
    }
}
@media(max-width:440px){
  .btn{
    margin:20px 0 0 5vw;

    }
}
@media(max-width:416px){
  .btn{
   display: none;
    }
    .container2 img{
      margin:20px 2px 0px 90px;
      width:30px;
    }
}
@media(max-width:348px){
  .btn{
   display: none;
    }
    .container2 img{
      margin:25px 0px -8px 80px;
      width:30px;
    }
}