* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  border: unset;
  outline:unset;
}

body {
  background: linear-gradient(to left, #D8CEF6 , #fff);
}

a:focus {
  outline: none;
}

.active-link {
  color: #2c31d9fb;
  text-decoration: none; /* Use none instead of unset to remove text decoration */
}

.Button1 {
  background: rgb(139, 109, 238);
  color: #fff;
  width: 110px;
  height: 35px;
  border-radius: 5px;
}
@media(max-width:469px){
.Button1{
  width:70px;
  font-size:9px;
}
.Button2{
  width:70px;
  font-size:9px;
}
}
.Button2 {
  border: 1px solid rgb(139, 109, 238);
  color: rgb(139, 109, 238);
  background: #fff;
  width: 140px;
  height: 35px;
  border-radius: 5px;
}
